# this basically documents how monodevelop made everything on Linux

*.config    text eol=lf
*.fsproj    text eol=lf
*.sln       text eol=crlf
*.userprefs text eol=crlf

*.fs        text eol=lf
*.md        text eol=native

.gitattributes text eol=native
.gitignore     text eol=native
